<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--our fonts from google-->
    <link href="https://fonts.googleapis.com/css?family=Oswald|Quicksand" rel="stylesheet">

    <title>Payment</title>

    <!--css file-->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">

</head>

<body>

    <div class="body-content-middle-responses">

        <!--payment successfull-->
        <div id="pay-successful" class="pay-successful-box">
            <h1>Payment sent</h1>
            <img class="response-image" src="assets/icons/success.svg" />
            <a href="index.html">
                <button class="back-to-home" type="button">back to home</button>
            </a>
        </div>

        <!--payment unsuccessfull-->
        <div id="pay-unsuccessful" class="pay-successful-box">
                <h1>Payment not sent. An error ocurred!</h1>
                <img class="response-image" src="assets/icons/unsuccess.svg" />
                <a href="index.html">
                    <button class="back-to-home" type="button">Try again</button>
                </a>
            </div>

    </div>
    <!--body content middle ends here-->


    <!--JAVASCRIPT-->


    <script>
    </script>

</body>

</html>